# EditorConfig helps maintain consistent coding styles for multiple developers 
# working on the same project across various editors and IDEs.
# Learn more at https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Enforce 4 space indentation and UTF-8 encoding charset for all programming 
# languages used in this repository
[*.{vx, scala, sbt, sh, html, js, css, md, yml}]
charset = utf-8
indent_style = space
indent_size = 4

